body {
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: center;
}

#addCardBtn {
  margin-bottom: 10px;
}

#markBtn {
  margin-top: 10px;
}

#cardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    display: grid;
    grid-template-columns: repeat(5, 60px);
    grid-template-rows: repeat(5, 60px);
    gap: 5px;
    border: 2px solid #333;
    padding: 10px;
    border-radius: 8px;
    position: relative;
}

.cell {
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid #aaa;
    border-radius: 4px;
}

.cell.marked {
    background-color: #4caf50;
    color: white;
}

.deleteBtn {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #e91e63;
    color: white;
    border: none;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    cursor: pointer;
    font-weight: bold;
}

#messages {
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: 18px;
    font-weight: bold;
    color: #e91e63;
}

@media(max-width: 600px) {
    .card {
        grid-template-columns: repeat(5, 40px);
        grid-template-rows: repeat(5, 40px);
    }
    .cell {
        width: 40px;
        height: 40px;
        font-size: 14px;
    }
}
